.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &__fullscreen {
    position: fixed;
  }

  &__content {
    position: relative;
  }
}
