.overlay__shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  will-change: opacity;
  align-items: center;
  justify-content: center;
  display: flex;
}
