code[class*="language-"], pre[class*="language-"] {
  border-radius: .5em;
}

code[class*="language-"] {
  padding: 0;
}

.column {
  padding: .4rem;
}

@media (max-width: 960px) {
  .off-canvas-content.col-9 {
    padding: 0;
  }
}

.table-responsive {
  overflow-x: auto;
}