code[class*="language-"], pre[class*="language-"] {
  border-radius: .5em;
}

code[class*="language-"] {
  padding: 0;
}

.column {
  padding: .4rem;
}

.off-canvas-content.col-9 {
  // width: 100%;
  // padding: 0;
}